<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
<listeners> 
<listener class-name="Academy.E2EProject.testngListeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Academy.E2EProject.verifyTitleOnHomePage"/>
      </classes>
    </test>
    <test name="Test2">
     <classes>
      <class name="Academy.E2EProject.verifyNavigationBarOnHomePage"/>
      </classes>
     </test >
     <test name="Test3">
     <classes>
      <class name="Academy.E2EProject.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
